{% extends 'content_base.html.twig' %}

{% block content_body %}

    <a href="{{ path('admin_article_new') }}" class="btn btn-primary">Create New Article</a>
    <br>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author Email</th>
            <th scope="col">Published</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td scope="row"> {{ article.title }}</td>
                <td scope="row"> {{ article.author.email }}</td>
                <td scope="row" class="{{ article.publishedAt ? 'fa fa-check' : 'fa fa-close' }}"></td>
                <td><a href="{{ path('admin_article_edit',{
                        'id':article.id
                    }) }}"><span class="fa fa-pencil"></span> </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

